:root {
background-image: url(background2.jpg);
background-size: 100vw 100vh;


}
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    align-items: center;
    justify-content: flex-start;
    border-bottom-style: groove;
    border-bottom-color: #72c4bf;
}
body {
    display: block;
    margin-top: 5vh;
}
.nzabajp{
    padding-left: 6vw;
    flex: 8 8 auto;
}
a {
    color: white !important;
    text-decoration: none !important;
}
h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    color: #FFFFFF;
}
.ico {
    margin-left: 10px;
    margin-right: 20px;
    flex: 1 1 auto;
    max-width: 35px;
}
.github {
    width: 34px;
    height: 34px;
}
.linkedin {
    width: 34px;
    height: 34px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
    width: 100%;
}
h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 400%;
    text-align: center;
    color: #FFFFFF;

backdrop-filter: blur(4px);
}
/*footer {
    background-color: white;
    height: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}*/
